/*
* wofi style.
*
*/

window {
    opacity: 0.9;
    margin: 5px;
    border: 2px solid #ff661a;
    font-family: "Noto Sans CJK TC 12";
    border-radius: 0px;
    color: #ffffff;
    background-color: #263228;
}

#input {
    padding: 10px 10px;
    border: 2px solid #ff661a;
    border-radius: 0px;
    color: #ffffff;
    background-color: #263228;
}

#text {
    margin: 5px;
}

#entry {
    border-radius: 5px;
    margin: 5px;
}

#entry.selected {
    background-color: #0088CC;
}

#scroll {
    margin: 5px;
}

scrollbar {
    margin: 0px;
    border-radius: 5px;
    opacity: 0.9;
    background-color: #64727d;
}
